*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:1920px){   
    #navigation{
        width: 19.5%;
        height: 100%;
        display: inline-block;
        position: fixed;
        z-index: 1;
        background-color: #5f5f5f;
    }

    #border{
        width: .5%;
        height: 100%;
        display: inline-block;
        position: fixed;
        left: 19.5%;
        background-color: black;
        opacity: 20%;
    }

    #profile{
        border-radius: 100%;
        width: 40%;
        margin: 5% 30%;
    }

    #name-id{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    #name{
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
    }

    #id{
        font-size: 15px;
        margin: 4px;
    }

    #dropdown{
        display: inline-block;
        width: 100%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin-top: 20%;
    }

    #dropdown a{
        color: white;
        text-decoration: none;
    }

    #dropdown-arrow{
        width: 12%;
        float: right;
    }

    #dropdown-btn{
        display: inline-block;
        width: 90%;
        padding: 10px 5%;
        background-image: linear-gradient(90deg, #4c4c4c, rgb(95,72,72));
    }

    #dropdown #dropdown-btn:hover{
        background-image: linear-gradient(90deg, #3a3a3a, #7a2423);
    }

    .dropdown-item{
        display: none;
        width: 90%;
        padding: 10px 5%;
        background-image: linear-gradient(90deg, #4c4c4c, rgb(95,72,72));
    }

    #dropdown .dropdown-item:hover{
        background-image: linear-gradient(90deg, #3a3a3a, #7a2423);
    }

    #settings{
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        margin: 10px 0;
    }

    #logout{
        display: inline-block;
        background-color: rgb(37,37,37);
        width: 80%;
        margin: 0 7.5%;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 2.5%;
        border-radius: 10%;
    }

    #settings-logout{
        width: 100%;
        position: absolute;
        bottom: 2%;
    }

    #content{
        background-image: linear-gradient(#545454, #7a2423);
        background-repeat: no-repeat;
        display: inline-block;
        width: 80%;
        height: 100%;
        margin-left: 19.5%;
        padding-left: 0.5%;
    }

    #header{
        height: 10%;
        background-color: rgb(101,101,101);
    }

    #logo{
        width: 5%;
        padding: 1%;
    }

    #latest-dramas{
        padding: 1%;
        color: white;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    #premium-box{
        background-color: rgb(125,55,55);
        border: 1px solid white;
        border-radius: 8%;
        display: inline-block;
        width: 80%;
        margin: 1% 7.9%;
        padding: 2%;
    }

    #premium-text{
        color: white;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #5e5e5e;
        display: block;
        width: 40%;
        margin: 0 30%;
        text-align: center;
        border-radius: 8%;
        border: 1px solid white;
        padding: 1% 0;
        font-weight: bold;
    }

    #premium-section-left{
        display: inline-block;
        padding: 2%;
        width: 40%;
        margin: 0 2%;
    }

    #premium-section-right{
        display: inline-block;
        padding: 2%;
        width: 40%;
        margin: 0 2%;
    }

    .premium-bonus{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin: 4%;
        display: inline-block;
    }

    #footer{
        background-color: black;
        display: inline-block;
        width: 98%;
        padding: 1%;
        color: white;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

    #slide-container{
        position: relative;
        margin: 1% 24%;
        height: 275px;
        width: 600px;
    }

    .slide{
        width: 100%;
        height: 100%;
        position: absolute;
        border: 1px solid white;
    }
    .dropdown-item2{
        display: none;
    }
    /* #logo2{
        display: none;
    }
    #dropdown2{
        display: none;
    } */

}

@media screen and (min-width:901px){
    #logo2{
        display: none;
    }
    #dropdown2{
        display: none;
    }

    #profileheader{
        display: none;
    }
}

@media screen and (max-width:900px){
    #dropdown{
        width: 100%;
        color: white;
        font-size: 15px;
    }
    #profileheader{
        justify-content: center;
        display: flex;
    }
    #name2{
        padding-left: 2%;
        padding-top: 1.5%;
        font-weight: bold;
        font-size: 150%;
        color: white;
    }
    #id2{
        padding-left: 2%;
        padding-top: 3%;
        color: white;
    }
    #profile2{
        width: 10%;
        border-radius: 100%;
    }
    #slide-container{
        margin: 1% 12%;
        height: 275px;
        width: 500px;
    }
    #premium-box{
        border-radius: 15%;
        width: 70%;
        margin: 1% 10%;
        margin-bottom: 10%;
        padding: 3%;
    }
    #premium-text{
        font-size: 15px;
        width: 35%;
    }
    .premium-bonus{
        font-size: 20px;
        font-weight: normal;
        margin: 5%;
    }
    .margin-tambahan1{
        margin-bottom: 15%;
    }
    #settings{
        font-size: 18px;
        font-weight: normal;
    }
    #logout{
        width: 70%;
        margin: 0 13%;
        font-size: 15px;
        font-weight: normal;
    }
    
    #dropdown-btn{
        margin-bottom: 50px;
    }
    #dropdown-arrow{
        content: url(../assets/burger\ icon.png);
    }
    #navigation{
        width: 19.5%;
        height: 27%;
        display: inline-block;
        position: fixed;
        z-index: 1;
        background-color: #5f5f5f;
    }
    #navigation{
        display: none;
    }
    #border{
        display: none;
    }
    #content{
        margin-left: 0%;
        width: 100%;
    }
    #header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #logo2{
        width: 5%;
        padding: 1%;
        margin-top: 2%;
        margin-left: 90%;
    }
    .dropdown-item2{
        /* text-decoration: none;
        color: white; */
        /* display: show; */
        padding-left: 70%;
    }
    #dropdown2 a{
        text-decoration: none;
        /* display: show; */
        color: white;

    }
    #dropdown2 .dropdown-item2:hover{
        background-image: linear-gradient(90deg, #3a3a3a, #7a2423);
    }
    #dropdown-btn2{
        display: inline-block;
        width: 90%;
        padding: 10px 5%;
        background-image: grey;
    }

    #dropdown2 #dropdown-btn2:hover{
        background-image: grey;
    }

    .dropdown-item2{
        display: none;
        width: 90%;
        padding: 10px 5%;
        background-image: linear-gradient(90deg, #4c4c4c, rgb(95,72,72));
    }

    #dropdown2 .dropdown-item2:hover{
        background-image: linear-gradient(90deg, #3a3a3a, #7a2423);
    }
}   